// Specific CSS for your home-page
.banner {
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image_url("banner-1.jpg");
    background-position: center;
    object-fit: cover;
    text-align: center;
    align-content: center;
    
    h1 {
        font-size: 3em;
    }
}

.div-list {
    height: 200px;
    padding: 0;


    a {
        display: block;            /* Make link behave like a block */
        width: 100%;               /* Fill full width of parent */
        height: 100%;              /* Fill full height of parent */
        text-decoration: none;     /* Remove underline */        
        text-align: center;
        align-content: center;
    }

    h3 {
        font-weight: bold;
        color: white;
    }
}