.banner-show {
    height: 300px;
    // Old fixed background styling:
    // background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("banner-2.jpg");
    text-align: center;
    align-content: center;

    h1 {
        font-size: 3em;
    }

}

div .badge-moviecount {
    position: absolute;
    right: 20px;
    top: 80px;
    padding: 12px 8px;
}  
